:root {
    --main-color:rgb(137, 206, 174);
    --bg-color:rgb(127, 179, 166);
    --title-color:rgb(121, 121, 121);
    --highlighted-bg-color:rgb(235, 235, 235);
    --text-color:black;
}

html, body{ 
    height:100%; 
    margin:0; 
    background-color: var(--bg-color)!important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='127' height='127' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='0.2' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}

a{
    display: flex;
    color: var(--text-color)!important;
}

.main{
    height: calc(100% - 120px);
    display: flex;
}

.main-login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    height: calc(100% - 100px);
    background-color: var(--main-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='127' height='127' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='0.2' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}

.regist{
    margin-top: 150px;
}

.login{
    padding: 5px;
    margin-top: 150px;
}

.video{
    margin-top: 150px;
}

.navbar{
    text-align: center;
    height: 70px;
    background-color: var(--main-color);
    border: 1px solid black;
    position: relative;
}

.navbar-icons{
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.navbar-image{
    height: 50px;
    width: 50px;
}

.navbar-nav{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    width: 400px;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.navbar-nav img{
  margin-left: 20px;
}

.dropdown-menu{
    margin-top: -10px!important;
    margin-right: 10px!important;
}

.dropdown-menu a{
    color: black!important;
}

aside{
    overflow: auto;
    width: 25%;
    padding: 10px;
    background-color: var(--main-color);
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
}

.aside-icons{
    margin-top: 5px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.sidebar-group{
    padding: 10px;
}

.sidebar-group h3{
    color: white!important;
    background-color: var(--title-color);
    padding: 10px;
    border-radius: 5px;
}

.sidebar-group a{
    margin-left: 10px;
}

.content{
    width: 80%;
    overflow: auto;
    padding: 4px;
}

footer{
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: var(--main-color);
    border: 1px solid black;
    position: relative;
}

.social-media{
    display: flex;
    position: absolute;
    right: 1%;
    margin-right: 15px;
    top: 20%;
}

.privacy{
    display: flex;
    position: absolute;
    margin-left: 15px;
    top: 20%;
}

.board{
    overflow: auto;
    display: flex;
    margin-top: 10px;
    align-items: flex-start;
}

.category{
    width: 380px;
    border: solid 2px black;
    flex-shrink: 0;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    background-color: var(--main-color);
}

.new-category{
    border: solid 2px black;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    background-color: var(--main-color);
}

.category-options{
    float: right;
    padding: 5px;
}

.category-options img{
    width: 20px;
    height: 20px;
}

.category-options-dropdown{
    position: absolute;
    padding: 5px;
    display: none;
    flex-direction: column;
    background: white;
    border-radius: 3px;
    box-shadow: 2px 2px 2px grey;
    z-index: 5;
    right: 10px;
}

.category-options-dropdown a{
    padding: 5px;
}

.category-options-dropdown a:hover{
    background: gray;
}

.event-list{
    padding: 10px 0;
}

.event{
    border: 2px solid black;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px grey;
    z-index: 1;
}

.new-event{
    display: flex;
    border: 2px solid black;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px grey;
}

.new-event input{
    width: 50%;
}

.close{
    float: right;
}

.close img{
    width: 20px;
    height: 20px;
    padding: 5px;
}

.event h3{
    overflow: auto;
}

.like{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    padding: 5px;
}

.event-description{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    margin-top: 10px;
    padding: 0;
    font-size: 20px;
}

.event-description li{
    display: inline-block;
}
              
.description img{
    width: 25px;
    height: 25px;
}

.search-box{
    border: solid 1px black;
    background-color: var(--highlighted-bg-color);
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    margin-bottom: 10px;
}

.content-block{
    border: solid 1px black;
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    margin-bottom: 10px;
}

.content-block img{
    border-radius: 7px;
    display: block;
    width: 100%;
    margin: auto;
}

.activity-description{
    display: flex;
    justify-content: space-between;
    background-color: var(--highlighted-bg-color);
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 5px;
}
.opt-activity{
    display: flex;
    width: 20%;
}

.opt-activity img{
    width: 20%;
}

.content-block p{
    background-color: var(--highlighted-bg-color);
    padding: 10px;
    border-radius: 7px;
}

/* Notifications */

.join{
    float: right;
    height: 40px;
    width: 40px;
}

.reject{
    float: right;
    padding: 5px;
    height: 40px;
    width: 40px;
}

/*footer.home-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: none;
}*/

/*Home page*/
body.home{
    background-image: linear-gradient(to right,rgb(41, 145, 84),  rgb(137, 206, 174));
    padding: 10px;
}
.home-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 100, 0, 0.226);
    padding: 10px;
    border-radius: 5px;
}
.plain{
    text-align: center;
}
.home-page img{
    width: 3%;
}

.log{
    text-align: center;
}
.log p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.log p label{
    margin: 0px;
}
.log p input{
    margin-left: 10px;
    border: 0px;
    border-radius: 3px;
}
.log input[type = submit]{
    align-self: center;
    border: 0px;
    border-radius: 3px;
    width: 100%;
    background-color: rgba(142, 235, 142, 0.521);
}
.alertLog{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);
}

/*activity info*/
.activity-info{
    width: 100%;
    display: block;
    margin: 3px 0px 3px 0px;
    background-color: rgb(41, 145, 84);
}

.title-activity{
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background: chocolate;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.title-activity h2{
    margin: 0px;
}
.buttons-activity{
    width: 20%;
    display: flex;
}
.buttons-activity img{
    width: 15%;
    margin-right: 10px;
}
.buttons-activity img:last-of-type{
    margin-right: 0px;
}

.selected{
    background-color: cadetblue;
}

label {
    display: inline-block;
    width: 5em;
}

.event-block {
  display: grid;
  grid-gap: 10px;
  height: 100%;
}

.event-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    border-radius: 5px;
    object-fit: cover; /* also try `contain` and `fill` */
}

.event-image img{
    object-fit: fill;
}

.event-people{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
}

.event-details{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
}

.event-comments{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
}

.event-opinion{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
}

.event-content{
    background-color: white;
    padding: 10px;
    min-height: 80px;
    border-radius: 5px;
    margin-bottom: 10px;
}
/*Highlighted*/

.share-alert{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(95, 158, 160, 0.589);
}

.share-with{
    text-align: center;
    position: relative;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px black solid;
    padding: 10px;
    border-radius: 3px;
    vertical-align: middle;
    background-color: rgb(42, 129, 78);
}

.input-User{
    align-content: center;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.opt-buttons{
    display: flex;
    justify-content: space-around;
}

.opt-buttons button{
    border: none;
    background-color: cadetblue;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    margin-right: 7px;
}

.opt-buttons button:last-of-type{
    margin-right: 0px;
}

.share-with input[type=text]{
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-bottom: 0px;
    margin-right: 5px;
}

.pointers{
    cursor: pointer;
}

.tit-notifications{
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.opt-notifications{
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.opt-notifications img{
    width: 40%;
}



.validInput{
    background-color: greenyellow;
}

.invalidInput{
    background-color: red;
}

.showjs{
    display: initial;
}

.hidejs{
    display: none;
}

.mobile-header{
    display: none;

}

.mobile-header ul{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    right: 20%;
    left: 20%;
     margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

@media screen and (max-width: 1000px) {
    aside{
        display: none!important;
    }
    .content{
        width: 100%;
    }   
    .mobile-header{
        display: flex!important;
        flex-direction: column;
    }
    .mr-auto{
        display: none!important; 
    }
    .main{
        margin-top: 60px;
    }
    .main-login{
        flex-direction: column;
        overflow: auto;
    }

} 
